
.cabecalho {
	align-items: center;
	background: url("../../img/perfil/bg-header.jpg") no-repeat center/cover;
	color: var(--white-300);
	display: flex;
	font-weight: 600;
	height: 400px;
}

.perfil {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 200px;
}

#perfil__img {
	border: 4px #fff solid;
	border-radius: 50%;
	margin: 10px auto;
	width: 150px;
	height: 150px;
}

@media screen and (min-width:  0px){
	.cabecalho {
		flex-direction: column;
		padding: 0 10px;
	}
}

@media screen and (min-width: 930px){
	.cabecalho {
		flex-direction: row;
		padding: 0 100px;
	}

}