.contact-us {
	display: flex;
	align-items: flex-end;
	box-sizing: border-box;
	justify-content: center;
	width: 100%;
	gap: 5rem;
	padding: .6rem;
}

.contact-us__image {
	margin: 10px;
}

@media screen and (max-width: 840px) {
	.contact-us__image{
		display: none;
	}
}