.copyright { 
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	padding: 1rem;
	margin: 2rem 1rem 1rem 1rem;
	gap: 10px;
}