footer {
	display: flex;
	padding: 1rem;
	flex-direction: column;
}

.form__contato {
	display: flex;
	align-self: center;
	justify-content: start;
	gap: 10px;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	max-width: 400px;
}

.form__contato-nome-sobrenome, .form__contato-email, .form__contato-mensagem{
	display: flex;
	flex-direction: column;
	text-align: start;
}

input, textarea {
	margin-top: 8px;
	padding: .8rem;
	border-radius: 5px;
	border: 0;
	transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}

input:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

.form__contato-mensagem textarea {
	height: 120px;
	max-height: 120px;
	max-width: 394px;
}

.form__contato__sobrenome {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form_contato_botao {
	background: #007BFF;
	padding: .8rem;
	border-radius: 5px;
	border: 0;
	color: var(--white-300);
	font-size: 1.8rem;
	font-weight: 800;
}

@media screen and (min-width: 0){
	.form__contato-nome-sobrenome {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.form__contato__nome {
		display: flex;
		flex-direction: column;
		align-items: start;
		width: 100%;
		margin-bottom: 10px;
	}

	.form__contato__nome input {
		width: calc(100% - 16px);
	}
}

@media screen and (min-width: 425px){
	.form__contato-nome-sobrenome {
		flex-direction: row;
		justify-items: flex-start;
	}

	.form__contato__nome {
		margin-right: 5px;
	}
}