.social {
	display: flex;
	flex-direction: row;
	align-self: center;
	margin: 10px 0;
}

.social svg {
	fill: #333333;
	height: 30px;
	width: auto;
}

.github, .linkedin, .telegram{
	display: flex;
	align-items: center;
	height: 50px;
	width: auto;
	margin: 8px;
	padding: 3px;
	transition: 0.4s all;
}

.github:hover, .linkedin:hover, .telegram:hover{
	transform: scale(1.4);
	cursor: pointer;
}

.github:hover svg {
	fill: #6B2A89;
}

.linkedin:hover svg{
	fill: #0E76A8;
}

.telegram:hover svg{
	fill: #29A1D4;
}

@media screen and (max-width: 768px) {
	.github, .linkedin, .telegram{
		height: 40px;
		width: auto;
	}
}