@font-face {
	font-family: 'Montserrat Light';
	src: url('../fonts/Montserrat-Light.ttf') format("truetype");
}

@font-face {
	font-family: 'Montserrat Extra Light';
	src: url('../fonts/Montserrat-ExtraLight.ttf') format("truetype");
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/pt-sans/PTSans-Regular.ttf') format("truetype");
}

@font-face {
	font-family: 'NotoSans Regular';
	src: url('../fonts/NotoSans-Regular.ttf') format("truetype");
}

:root {
	--white-300: #E7E7E7;
}

html {
	color: rgb(82, 82, 82);
	font-family: "PT Sans";
	font-weight: 500;
	font-size: 62.5%;
}

body{
	align-items: center;
	background: linear-gradient(to bottom, rgb(110, 153, 145), rgba(82, 82, 82));
	background-attachment: fixed;
	display: flex;
	font-size: 1.6rem;
	flex-direction: column;
	position: relative;
	padding: 1rem;
	height: 100vh;
}

#name {
	margin: 0.8rem 0;
	text-shadow: 2px 2px 14px rgba(0,0,0,0.65);
}

#name::after {
	animation: blink 0.7s infinite;
	content: "_";
	margin-left: 5px;

}

@keyframes blink{
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.box {
	display: flex;
	flex-direction: column;
	grid-gap: 0.8rem;
	padding: 1rem;
	max-width: 100%;
	width: 970px;
}

main {
	padding: 1.2rem;
}


svg{
	fill: #333333;
	height: 24px;
	width: auto;
}

a{
	text-decoration: none;
	text-transform: none;
}

/* extra */

.bg-light {
	background-color: #e9ecef;
}

.b-radius-5 {
	border-radius: 5px;
}

.icon {
	align-items: center;
	box-shadow: 2px 2px 14px -6px rgba(0,0,0,0.80);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	margin: 5px;
	max-width: 80px;
	max-height: 80px;
	min-width: 80px;
	min-height: 80px;
}
