.about__section {
	display: flex;
	justify-content: center;
	align-items: center;
}

#hello {
	color: #8F4342;
	font-size: 8rem;
	margin-right: 8px;
	text-shadow: 0px 0px 8px rgba(0,0,0,0.40);

}

.about__me {
	max-width: 480px;
}

@media screen and (min-width: 0){
	.about__section {
		flex-direction: column;
		margin: 10px 10px;
		text-align: center;
	}
}

@media screen and (min-width: 768px){
	.about__section {
		flex-direction: row;
		margin: 30px 0;
		text-align: start;
	}
}

@media screen and (min-width: 900px){
	.about__section {
		flex-direction: row;
		margin-right: 20px;
		text-align: start;
	}
}