.c-hobbies__skills {
	display: flex;
	gap: 10px;
}

@media screen and (min-width: 0){
	.c-hobbies__skills {
		flex-direction: column;
	}
}

@media screen and (min-width: 620px) {
	.c-hobbies__skills {
		flex-direction: row;
	}
}

@media screen and (min-width:  984px){
	.c-hobbies__skills {
		flex-direction: column;
	}
}