.c-project__section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.c-project__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.c-project__card {
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.80);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 280px;
	min-width: 300px;
	max-width: 365px;
	margin: 20px 20px;
	position: relative;
	overflow: hidden;
}

.c-project__card__image {
	align-self: center;
	box-sizing: border-box;
	width: 100%;
	height: 220px;
}

.c-project__card__footer {
	box-sizing: border-box;
	background: #FAFAFA;
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 60px;
	justify-self: end;
	overflow: hidden;
	padding: 10px;
	position: absolute;
	width: 100%;
	transition: .4s;
}

.c-project__card__footer:hover {
	height: 150px;
	animation: over .6s;
	transition: all .8s;
}

@keyframes over {
	0% { overflow: hidden; }
	100% { overflow: visible; }
}

.infomacao {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
}

.c-project__card__description {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
}

.c-project__card__title {
	box-sizing: border-box;
	margin: 0;
	font-weight: bold;
	padding-left: 0;
	text-align: start;
	width: 100%;
}

.c-project__card__subtitle {
	box-sizing: border-box;
	display: flex;
	font-size: 14px;
	width: 100%;
	margin: 0;
}

.c-project__card__links {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.c-project__card__link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 5px;
	border-radius: 4px;
	background: gray;
	margin-right: 4px;
	height: 20px;
}

.c-project__card__link__icon{
	height: 16px;
}

@media screen and (min-width: 0){
	.c-project__container {
		justify-content: center;
	}
}

@media screen and (min-width: 790px) {
	.c-project__container {
		justify-content: space-around;
	}
}

@media screen and (min-width: 1275px){
	.c-project__container {
		justify-content: space-between;
	}
}

