.c-skills__section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.c-skills__carrossel {
	align-items: center;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	display: flex;
	height: auto;
	width: 300px;
	overflow: hidden;
}

.c-skills__container {
	display: flex;
	transition: transform 0.4s ease-in-out;
	transform: translateX(0px);
}

.c-skills__card{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
}

.c-skills__card__icon {
	background: #7AC4C5;
}