nav {
	margin: 0;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 100;
}

.nav__botao__menu {
	display: flex;
	justify-content: end;
	color: #fff;
	align-self: end;
	padding: 12px;
	box-shadow: 1px 0px 5px 1px rgba(29, 41, 53, 0.8);
}

nav ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	width: 100%;
	transition: 0.5s all;
}

#btn-menu {
	display: none;
}

#btn-menu ~ label {
	background: rgba(31, 43, 56, .95);
}

#btn-menu:checked ~ ul {
	height: auto;
	overflow: unset;
	background: #2D4052;
	z-index: 100;
	height: 100%;
}

nav ul li{
	align-items: center;
	justify-content: center;
	display: flex;
	list-style: none;
	margin: 10px;
	border-radius: 3px;
}

nav ul li:hover {
	background: #1D2935;
	border-bottom: 3px #8F4342 solid;
}

nav ul li a {
	align-items: center;
	display: flex;
	color: white;
	display: flex;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	padding: 8px;
}

@media screen and (min-width: 0){
	nav {
		position: fixed;
	}

	nav ul {
		flex-direction: column;
	}

	.nav__botao__menu {
		display: flex;
	}

	nav ul {
		height: 10px;
		overflow: hidden;
	}

	nav ul li:hover {
		background: #1D2935
	}
}

@media screen and (min-width: 960px){
	nav {
		position: absolute;
	}
	nav ul {
		flex-direction: row;
		justify-content: end;
		align-items: center;
	}

	.nav__botao__menu {
		display: none;
	}

	nav ul {
		height: auto;
		overflow: unset;
	}

	nav ul li a {
		font-size: 1.8rem;
		font-weight: 700;
	}
}