.copyright { 
	display: flex;
	box-sizing: border-box;
	background: #556372;
	gap: 10px;
	flex-direction: column;
	align-self: center;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	margin-top: 2rem;
	padding: 1rem;
	width: 100%;
}